@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Start */
* {
  font-family: "Indie Flower", cursive;
}
body {
  overflow: hidden;
}
.wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 999;
  background: rgba(56, 39, 131, 0.548);
  transition: all 0.5s ease;
  overflow: hidden;
}
.wrapper-active {
  position: absolute;
  right: 300px;
  backdrop-filter: blur(5px);
}

.container-fluid {
  padding: 0px 50px;
  color: #fff;
  width: 100%;
  height: 100%;
}
/* header menu */
header.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.logo span {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
}

.toggle {
  background: url("https://i.ibb.co/HrfVRcx/menu.png") no-repeat;
  width: 60px;
  height: 60px;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0px;
}
.toggle.active {
  background: url("https://i.ibb.co/rt3HybH/close.png") no-repeat;
  width: 60px;
  height: 60px;
  background-size: 25px;
  background-position: center;
  transition: all 0.5s ease;
}
.title {
  line-height: 24px;
  display: flex;
  align-self: flex-start;
}
.title h2 {
  font-size: 36px;
}
.about {
  margin-top: 20px;
}
/* content center */
.middle-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
/* link */
.link {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.link a {
  color: #761edb;
  background: #fff;
  transition: all 0.5s;
}
.link a:hover {
  color: #761edb;
  letter-spacing: 3px;
}
/* social */
.social {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.social_item {
  transform: scale(0.5);
  transition: 0.5s;
}
.social_item:hover,
.social_item:focus {
  cursor: pointer;
  transform: scale(0.5) translateY(-15px);
}
/* hide menu */
.side-nav {
  display: block;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 99999999;
  background: #ffffff;
  transition: all 0.5s;
}

.side-active {
  right: 0px;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.side-nav a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

@media (max-width: 576px) {
  .side-nav {
    display: block;
    position: fixed;
    right: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 99999999;
    background: #ffffff;
    transition: all 0.5s;
  }
  .side-active {
    right: 0px;
  }
  .middle-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middle-content h2 {
    font-size: 20px;
    line-height: 22px;
  }
  .middle-content p {
    font-size: 14px;
  }
  .wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    min-height: 100%;
    z-index: 999;
    background: rgba(56, 39, 131, 0.548);
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .wrapper-active {
    position: absolute;
    right: 200px;
    backdrop-filter: blur(5px);
  }
  .about {
    display: none;
  }
  .social,
  .middle-content h2,
  .middle-content p,
  .link {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
/* // Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {
  .dh {
    display: none;
  }
  .social,
  .middle-content h2,
  .middle-content p,
  .link {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

/* // Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {
  .dh {
    display: block;
  }
  .social,
  .middle-content h2,
  .middle-content p,
  .link {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  .dh {
    display: block;
  }
  .social,
  .middle-content h2,
  .middle-content p,
  .link {
    display: flex;
    justify-content: center;
    text-align: left;
  }
}

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  .dh {
    display: block;
  }
  .social,
  .middle-content h2,
  .middle-content p,
  .link {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
}
